*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.nav-bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.nav-bar__s1__title{
    color: #a435f0;

}
.nav-bar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.nav-bar__s2 input{
    border: none;
    width: 100%;
    font-size: 15px;
    background-color: transparent;

}
.nav-bar__s2 input:focus{
    outline: none;
}
.nav-bar__s3{
    display: flex;
    gap: 5px;
    align-items: center;
}
.nav-bar__s4{
    display: none;
}
/* my learning popup */
.mylearn{
    position: relative;
    cursor: pointer;
}
.mylearn__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
    
}
.mylearn:hover .mylearn__popup{
    display: block;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;

}
.categories p{
    background-color: #a435f0;
    color: white;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #a435f0 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #a435f0 1px;

}
.sale{
    position: relative;
}
.sale img{
    width: 100%;


}
.sale-image__offer{
    border: black solid 2px;
    width: 300px;
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 20px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}
.recomm{
    padding:10px;
}
.recomm__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    

}
.course{
    width: 23%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.course img{
     flex-grow: 1;
    flex-basis: 20%;
    height: 150px;
    object-fit: cover;
}
.mem{
    color: grey;
}
.topic{
    padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
    
}
.topic__container p {
    border: solid gray 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
   
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

/* media queries */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
    
}
@media screen and (max-width:700px){
    .course{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .nav-bar__s2,.nav-bar__s3{
        display: none;
    }
    .nav-bar__s4{
        display: block;
    }
    .sale-image__offer{
    border: black solid 2px;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 20px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
}
