*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito',sans-serif;
}
.nav-bar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    gap: 10px;
    align-items: center;
}
.nav-bar__s1__title{
    color: #a435f0;

}
.nav-bar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.nav-bar__s2 input{
    border: none;
    width: 100%;
    font-size: 15px;

}
.nav-bar__s2 input:focus{
    outline: none;
}
.nav-bar__s3{
    display: flex;
    gap: 5px;
    align-items: center;
}
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;

}
.categories p{
    background-color: #a435f0;
    color: white;
    padding: 20px;
    border-radius: 30px;
}
.sale img{
    width: 100%;

}
.recomm{
    padding:10px;
}
.recomm__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    

}
.course{
    width: 23%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.course img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.mem{
    color: grey;
}
.topic{
    padding: 10px;
}
.topic__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 5px;
    
}
.topic__container p {
    border: solid gray 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
   
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}